h1{
    color:  #ffffff;
}

h2{
    color: #7691ad;
}

body{
    /* this is Example for RGB color System */
    background-color: #2e475d;
    /* this is Example for HEX color System */
    /* background-color:#ff0000; */
}

a{
    color: rgb(216, 153, 17);
}