h1{
    color:  #3a4660;
}

h2{
    color:  #050835;
}

body{
    /* this is Example for RGB color System */
    background-color: #acb7ae;
    /* this is Example for HEX color System */
    /* background-color:#ff0000; */
}

a{
    color: burlywood;
}