h1{
    color:  #00303F ;
}

h2{
    color:  #DCAE1D;
}

body{
    /* this is Example for RGB color System */
    background-color:     #CAE4DB;
    /* this is Example for HEX color System */
    /* background-color:#ff0000; */
}